<div class="sadrzaj" ng-app="probna" ng-controller="mainController">
<h1>Places To Eat Main Page</h1>
  <% if logged_in? %>
<!--      <%= button_to "Log out", logout_path, :method => "delete" %>-->
<!--      <%= link_to "Log out", logout_path, method: :delete %>-->
  <% else %>
      <!--<a href="#login"><i class="fa fa-comment"></i> Login </a>-->

      <div id="main">

        <!-- angular templating -->
        <!-- this is where content will be injected -->
        <div ng-view></div>

      </div>
  <% end %>
</div>