<div class="sadrzaj" ng-app="probna">
<h1>Places To Eat Main Page</h1>


      <div id="main">

        <!-- angular templating -->
        <!-- this is where content will be injected -->
        <div ng-view></div>
      </div>

  <div ng-controller="restaurantController">
    <table class="table table-striped">
    <tr ng-repeat="restaurant in restaurants">
      <td><button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">{{restaurant.name}}</button></td>
      <td>
        <div collapse="isCollapsed">
          <div class="well well-lg">Some content</div>
        </div>
      </td>
    </tr>
    </table>
  </div>
</div>