<div class="sadrzaj" ng-app="probna" ng-controller="mainCtrl">
<h1>Places To Eat Main Page</h1>


      <div id="main">

        <!-- angular templating -->
        <!-- this is where content will be injected -->
        <div ng-view></div>
      </div>

  <div ng-show="showRestaurant()" ng-controller="restaurantController">
    <table class="table table-striped">
    <tr ng-repeat="restaurant in restaurants">
      <td>
        <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">{{restaurant.name}}</button>
        <div collapse="isCollapsed">
          <div ng-controller="ratesController" class="well well-lg">{{restaurant.address}} </br> {{restaurant.avg}}
            <rating ng-model="glupi" readonly="true"></rating>
          </div>
        </div>
      </td>
    </tr>
    </table>
  </div>
</div>