<!DOCTYPE html>
<html ng-app="probna">
<html>
<head>
  <title>PlacesToEat</title>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end -%>

</body>
</html>
