<!DOCTYPE html>
<html ng-app="probna">
<html>
<head >
  <!--<script src="angular.js"></script>-->
  <!--<script src="angular-route.js"></script>-->
  <!--<script src="jquery.js"></script>-->
  <!--<script src="controller/routes.js"></script>-->
  <!--<script src="controller/allUsersCtrl.js"></script>-->
  <title>PlacesToEat</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body>
<!--<a href="#/allUsers"> All Users </a>-->

<%= yield %>

<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end -%>

</body>
</html>
