@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  color:rosybrown;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.restaurant-list{
  width: 24%;
  max-width:220px;
  min-width:100px;
  //display: inline-block;
  float:left;
  //line-height: 1.7em;
}
.navbar-static-top{
  margin-top:-60px;
  background: #417fab;//#3b5998
  //color: #E7E4E4;
}
.navbar-right{
  color: #E7E4E4;
}
.btn-restaurant-left{
  background:none;
  border:none;
  width:100%;
  //line-height: 1.7em;
}

#map {
 // height:420px;
  height:90vh;
  max-height: 550px;
  width:75.8%;
  display:inline-block;
}

/*.collapse .well{
  padding-left:5px;
}*/

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.button-nav{
  color: #E7E4E4;
  background: none;
  border: none;
  padding-top: 14px;
  padding-bottom: 10px;
}

/*.navbar-nav li a{
  color: #E7E4E4;
}*/
.dropdown-menu{
  background-color: #417fab;
}

.button{
  background: transparent;
  border: none;
}

.dropdown-button{
  padding: 3px 20px;
  //background-color: #417fab;
}

.language-icon{
  background-repeat: no-repeat;
  margin-top: 8px;
}

.language-icon-placeholder{
  margin-right: 8px;
}

.navbar-inverse .navbar-nav li a{
  color: #daefff;
}
.navbar-inverse .navbar-nav li a:hover{
  color: #9D9D9D;
}
.language-icon{
  background-size: 20px 20px;
  margin-top:15px;
}

